
	<%- include('./partials/header'); -%> 
	<%- include('./partials/navigation'); -%> 
	<div class="about">
		<p>
			We do events like Career Treks, Hackathons, Company talks, Investor Meetups, Career Fair, Interview Sessions and many more
			Apart from these events Tech Nest has over 50+ groups on various Technical skills
			To explore more on the events and groups click the Upcoming Events link above
			Be a part of smart and like-minded people and keep yourself Updated with the lastest trends in Technology
			You can start your own group or event by clicking on the Start a New Group link above
		</p>
	</div>
	
	
	<%- include('./partials/footer'); -%> 
	
  