
    
	<%- include('./partials/header'); -%> 
	<%- include('./partials/navigation'); -%> 
	
	
	<div class="contact">
	<h2>Contact Us</h2>
	<p>
			Email Id: contactus@technest.com<br><br>
			Address: HQ -7735 N Tryon St, Charlotte, NC 28262<br><br>
			Help Line: 989-335-8542
	</p>
	
	
	
	</div>
	<%- include('./partials/footer'); -%> 
	
 