
    
	<%- include('./partials/header'); -%> 
	<%- include('./partials/navigation'); -%> 
	
	
	<div class="newConnection">
	<form action='/newConnection/submit' method='post'>
	
	<label for="topic">Topic:  </label>
	<input type="text" id="topic" name="topic" placeholder="topic"><br><br>
	
	<label for="name">Name: </label>
	<input type="text" id="name" name="name" placeholder="Name"><br><br>
	
	<label for="details">Details</label>
	<input type="text" id="details" name="details" placeholder="description"><br><br>
  
	
	<label for="where">Where: </label>
	<input type="text" id="where" name="where" placeholder="Location"><br><br>
  
	<label for="date">When:</label>
	<input type="date" id="date" name="date" >
	<input type="submit" id="submit" value="Submit">
</form>
</div>
	
	<%- include('./partials/footer'); -%> 
	
 