<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
	 <link rel="stylesheet" type="text/css" href="./../../assets/stylesheets/style.css">
    <title>TECH MEETUPS</title>
  </head>
  <body>
<header class="main">
      
	  <div class="logo">
		<a href="index"><img src="./../../assets/images/logo.jpg" alt="Logo"></a>
	  </div>
	  
      <nav class="user_specific_links">
      <ul>
        <% if (typeof set != 'undefined'){  %>
		<li id="sign_out"><a href="index">Sign-out</a></li>
		<%  } else{ %>
		<li><a href="index">Sign-up</a></li>
		<% } %>
		<li><a href="saved-events">Log-In</a></li>
        <li id="start-a-new-group"><a href="newConnection">Start a New Group</a></li>
        
      </ul>
    </nav>
</header>
	
