<nav class="site_specific_links">
		<ul>
			<li><a href="index">Home</a></li>
			<li><a href="about">About Us</a></li>
			<li id="Upcoming-Events"><a href="upcoming_events">Upcoming Events</a></li>
		</ul>
		<% if (typeof set != 'undefined'){  %>
		<h4>Welcome Casper!</h4>
		<%  }  %>
</nav>